#alert.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
      .modal-body.text-center
        %h4 修改成功
      .modal-footer
        = link_to "确定", admin_welcome_path, :class => "btn btn-default"
%ol.breadcrumb
  %li= link_to_unless_current "首页", admin_welcome_path
  %li= "修改密码"
.panel.panel-default.panel-body.text-center.center-block.width{:style => "background-color: #eeeeee"}
  = form_tag "change_password_session" do
    .center-block
      %div
        %dl.input-group
          %dt.input-group-addon.input_width-1 &nbsp&nbsp帐&nbsp&nbsp&nbsp号&nbsp&nbsp
          %dd= text_field_tag :name, session[:name], :disabled => 'disabled', :class => "form-control"
        %dl.input-group
          %dt.input-group-addon.input_width-1 设置密码
          %dd
            = password_field_tag :password, params[:password], :class => "form-control"
        %dl.input-group
          %dt.input-group-addon.input_width-1 确认密码
          %dd
            = password_field_tag :password_confirmation, params[:password_confirmation], :class => "form-control"
        - if flash[:error]
          .alert.alert-danger
            = flash[:error]
        - if flash[:notice] == "ok"
          - flash[:notice] = ""
          %script{:language => "javascript"}
            $('#alert').modal('show')
        %p= submit_tag "确认修改", :class => "btn-default btn btm-primary"