= render 'shared/header'
%ol.breadcrumb
  %li= link_to_unless_current "首页",admin_welcome_path
  %li= "添加用户"
.panel.panel-default.panel-body.text-center.center-block.width{:style => "background-color: #eeeeee"}
  = form_for @user do |f|
    .center-block
      %div
        %dl.input-group
          %dt.input-group-addon= f.label :name, :class => "input_width-1"
          %dd= f.text_field :name, :class => "form-control"
        %dl.input-group
          %dt.input-group-addon
            = f.label :password, :class => "input_width-1"
          %dd
            = f.password_field :password, :class => "form-control"
        %dl.input-group
          %dt.input-group-addon
            = f.label :password_confirmation, :class => "input_width-1"
          %dd
            = f.password_field :password_confirmation, :class => "form-control"
        %dl.input-group
          %dt.input-group-addon
            = f.label :forget_issues
          %dd
            = f.text_field :forget_issues, :class => "form-control"
        %dl.input-group
          %dt.input-group-addon
            = f.label :forget_answer
          %dd
            = f.text_field :forget_answer, :class => "form-control"
        - if @user.errors.any?
          .alert.alert-danger
            = @user.errors.full_messages.first
        %p= f.submit "确认添加", :class => "btn-default btn btm-primary"