.panel.panel-default{:style => "width: 95%;margin-left: 35px"}
  .panel-heading
    %p{:style => "font-size: 25px"}
      竞价列表
    %p{:style => "font-size: 15px;position: absolute;right: 50px;top: 110px"}
      = link_to "报名列表",signuplist_path(:username =>  params[:username],:activityname => params[:activityname])
    - bidlist = BidList.where(:username => params[:username],:activityname => params[:activityname])
    - @bidlist = bidlist.paginate(page: params[:page],per_page:10)
  %table.table.text-center
    %tr
      %td{:style => "width: 30%"} 编号
      %td{:style => "width: 30%"} 名称
      %td{:style => "width: 40%"} 参与人数
    - if params[:page].to_i == 0
      - id = 0
    - else
      - id = (params[:page].to_i-1)*10
    - @bidlist.each do |p|
      %tr
        %td{:style => "width: 30%"}= id =id+1
        %td{:style => "width: 30%"}= link_to "竞价"+p.bidname,pricelist_path(:username =>  params[:username],:activityname => params[:activityname],:bidname => p[:bidname])
        %td{:style => "width: 40%"}
          = BidMessage.where(:username =>  params[:username],:activityname => params[:activityname],:bidname => p.bidname).count
          = "/"
          = Activity.where(:username =>  params[:username],:activityname => params[:activityname]).count
.pagination{:style => "position: absolute;right: 30px; "}
  = will_paginate @bidlist, {:previous_label => '<<', :next_label => '>>'}