<div class="panel panel-default panel-body text-center center-block width" style = "background-color: #eeeeee">
  <%= form_for @user do |f| %>
      <div class="center-block">
        <div class="">
          <dl class="input-group">
            <dt class="input-group-addon"><%= f.label :name, :class => "input_width-1" %></dt>
            <dd class=""><%= f.text_field :name, :class => "form-control" %></dd>
          </dl>
          <dl class="input-group">
            <dt class="input-group-addon"> <%= f.label :password, :class => "input_width-1" %> </dt>
            <dd class=""> <%= f.password_field :password, :class => "form-control" %> </dd>
          </dl>
          <dl class="input-group">
            <dt class="input-group-addon"> <%= f.label :password_confirmation, :class => "input_width-1" %> </dt>
            <dd class=""> <%= f.password_field :password_confirmation, :class => "form-control" %></dd>
          </dl>
          <% if @user.errors.any? %>
              <div class = "alert alert-danger">
                <%= @user.errors.full_messages.first %>
              </div>
          <% end %>
          <%= link_to "确定",welcome_path%>
        </div>
      </div>
  <% end %>
</div>