<div class="panel panel-default panel-body text-center center-block width" style = "background-color: #eeeeee">
  <div class="center-block">
    <h3>修改密码</h3>
    <div class="">
      <%= form_tag "/change_password" do %>
          <dl class="input-group">
            <dt class="input-group-addon">
              <%= label_tag "修改帐号" %>
            </dt>
            <dd class = "">
              <%= text_field_tag :name, params[:name], :class => "form-control" %>
            </dd>
          </dl>
          <dl class="input-group">
            <dt class="input-group-addon">
              <%= label_tag "设置密码" %>
            </dt>
            <dd class = "">
              <%= password_field_tag :password, params[:password], :class => "form-control" %>
            </dd>
          </dl>
          <dl class="input-group">
            <dt class="input-group-addon">
              <%= label_tag "确认密码" %>
            </dt>
            <dd class = "">
              <%= password_field_tag :password_confirmation, params[:password_confirmation], :class => "form-control" %>
            </dd>
          </dl>
          <% if flash[:error] %>
              <div class = "alert alert-danger">
                <%= flash[:error] %>
              </div>
          <% end %>
          <p> <%= submit_tag "确定", :class => "btn-default btn btm-primary" %> </p>
      <% end %>
    </div>
  </div>
</div>