= render 'shared/header'
.panel.panel-default.panel-body.text-center.center-block.width{:style => "background-color: #eeeeee"}
  #login.center-block
    %h3 重置密码
    = link_to "用户登录",login_path, :class => "right"
    %div
      = form_tag "/forgot_password_three" do
        %dl.input-group
          %dt.input-group-addon
            = label_tag "请设置密码"
          %dd
            = password_field_tag :password, params[:password], :class => "form-control",:placeholder => "请输入新密码"
        %dl.input-group
          %dt.input-group-addon
            = label_tag "请确认密码"
          %dd
            = password_field_tag :password_confirmation, params[:password_confirmation], :class => "form-control",:placeholder => "请再次输入"
        - if flash[:error]
          .alert.alert-danger
            = flash[:error]
        %p
          = submit_tag "确认修改", :class => "btn-default btn btm-primary"