.panel.panel-default.panel-body.text-center.center-block.width{:style => "background-color: #eeeeee"}
  #login.center-block
    %h3 重置密码
    = link_to "用户登录",login_path, :class => "right"
    %div
      = form_tag "/forgot_password_two" do
        %dl.input-group
          %dt.input-group-addon
            = label_tag "忘记密码问题"
          %dd
            = text_field_tag :forget_issues, cookies.permanent[:forget_issues], :class => "form-control",:disabled => 'disabled'
        %dl.input-group
          %dt.input-group-addon
            = label_tag "忘记密码答案"
          %dd
            = text_field_tag :forget_answer, params[:forget_answer], :class => "form-control",:placeholder => "请输入答案"
        - if flash[:error]
          .alert.alert-danger
            = flash[:error]
        %p
          = submit_tag "下一步", :class => "btn-default btn btm-primary"