.panel.panel-default.panel-body.text-center.center-block.width{:style => "background-color: #eeeeee"}
  #login.center-block
    %h3 重置密码
    = link_to "用户登录",login_path, :class => "right"
    %div
      = form_tag "/forgot_password_1" do
        %dl.input-group
          %dt.input-group-addon
            = label_tag "帐号"
          %dd
            = text_field_tag :name, params[:name], :class => "form-control",:placeholder => "请输入帐号"
        - if flash[:error]
          .alert.alert-danger
            = flash[:error]
        %p
          = submit_tag "下一步", :class => "btn-default btn btm-primary"