<ol class="breadcrumb">
  <li><%= link_to_unless_current "首页",welcome_path %></li>
  <li><%= link_to_unless_current "修改密码",password_path %></li>
</ol>
<div class="panel panel-default panel-body text-center center-block width" style = "background-color: #eeeeee">
  <%= form_tag "change_password_session" do %>
      <div class="center-block">
        <div class="">
          <dl class="input-group">
            <dt class="input-group-addon input_width-1">&nbsp&nbsp帐&nbsp&nbsp&nbsp号&nbsp&nbsp</dt>
            <dd class=""><%= text_field_tag :name,session[:name],:disabled => 'disabled', :class => "form-control" %></dd>
          </dl>
          <dl class="input-group">
            <dt class="input-group-addon input_width-1">设置密码</dt>
            <dd class=""> <%= text_field_tag :password,params[:password], :class => "form-control" %> </dd>
          </dl>
          <dl class="input-group">
            <dt class="input-group-addon input_width-1">确认密码</dt>
            <dd class=""> <%= text_field_tag :password_confirmation,params[:password_confirmation], :class => "form-control" %></dd>
          </dl>
          <% if flash[:error] %>
              <div class = "alert alert-danger">
                <%= flash[:error] %>
              </div>
          <% end %>
          <p><%= submit_tag "确认修改", :class => "btn-default btn btm-primary" %></p>
        </div>
      </div>
  <% end %>
</div>