= render 'shared/header'
%ol.breadcrumb
  .winner(align = 'center')
    - status = BidList.where(:username => params[:username],:activityname => params[:activityname],:bidname => params[:bidname])
    - pricecount = PriceCount.where(:username => params[:username],:activityname => params[:activityname],:bidname => params[:bidname])
    -if status.find_by_status("1") && pricecount.find_by_count("1")
      - success = pricecount.where(:count => 1).first
      - people = BidMessage.where(:username =>  params[:username],:activityname => params[:activityname],:bidname => params[:bidname],:price => success.price).first
      %p
        = "获胜者:" + people.name
      %p
        = "出价:" + people.price + "元"
      %p
        = "手机号:" + people.phone
    -else
      -if status.find_by_status("0")
        活动正在进行中...
      -else
        本次竞价无人胜出
.panel.panel-default{:style => "width: 95%;margin-left: 35px"}
  %table.table.text-center
    %thead
      %ul.nav.nav-tabs.nav-justified
        %li.active
          %a
            出价列表
        %li
          =link_to "价格统计",pricecount_path(:username =>  params[:username],:activityname => params[:activityname],:bidname => params[:bidname])
    %tr
      %td{:style => "width: 22%"} 编号
      %td{:style => "width: 22%"} 姓名
      %td{:style => "width: 22%"} 价格/元
      %td{:style => "width: 34%"} 手机号
      - bidmessage = BidMessage.where(:username =>  params[:username],:activityname => params[:activityname],:bidname => params[:bidname])
      - @bidmessage = bidmessage.paginate(page: params[:page],per_page:10)
    - if params[:page].to_i == 0
      - id = 0
    - else
      - id = (params[:page].to_i-1)*10
    - @bidmessage.each do |p|
      %tr
        %td{:style => "width: 22%"}= id =id+1
        %td{:style => "width: 22%"}= p.name
        %td{:style => "width: 22%"}= p.price+"元"
        %td{:style => "width: 34%"}= p.phone
.pagination{:style => "position: absolute;right: 30px; "}
  = will_paginate @bidmessage, {:previous_label => '<<', :next_label => '>>'}