- if Message.first.status == "1"
  #show
    %ol.breadcrumb
      .winner(align = 'center')
        %p{:style => "font-size: 50px"}
          - message = Message.first.name
          = message
        %p{:style => "font-size: 25px"}
          = "参与人数："
          - a = 0
          - @bid_count.each do |b|
            - a = a + b.count.to_i
          = a
          = "/"
          = Activity.where(:username =>  current_user.name,:activityname => message).count
    .panel.panel-default{:style => "width: 95%;margin-left: 35px"}
      %table.table.text-center
        %tr
          %td{:style => "width: 50%"} 姓名
          %td{:style => "width: 50%"} 电话
        - @bid.each do |p|
          %tr
            %td{:style => "width: 50%"}= p.name
            %td{:style => "width: 50%"}= p.phone
  %script{:language => "javascript"}
    setTimeout(function(){location.reload('#show')},3000)
- else
  - bid = Bid.where(:count => 1).first
  - if bid
    %ol.breadcrumb
      .winner(align = 'center')
        %p{:style => "font-size: 75px"}
          - message = Message.first.name
          = message
        %p{:style => "font-size: 45px"}
          = "比赛结果:"
        %P{:style => "font-size: 30px"}
          = "获胜者："
          = bid.name
        %P{:style => "font-size: 30px"}
          = "出价："
          = bid.price
        %P{:style => "font-size: 30px"}
          = "电话："
          = bid.phone
  - else
    %ol.breadcrumb
      .winner(align = 'center')
        %p{:style => "font-size: 75px"}
          - message = Message.first.name
          = message
        %p{:style => "font-size: 45px"}
          = "比赛结果:无胜出者"
