- if current_user
  - if current_user.identity == "admin"
    .panel.panel-default{:style => "width: 95%;margin-left: 35px"}
      .panel-heading{:style => "font-size: 25px"}
        用户管理
        = link_to "+添加用户", adduser_path,:class => "btn btn-default"
      %table.table.text-center
        %tr
          %td{:style => "width: 350px"} 编号
          %td{:style => "width: 350px"} 用户名
          %td 操作
        = @a
        - if params[:page].to_i == 0
          - id = 0
        - else
          - id = (params[:page].to_i-1)*10
        - @user.each do |p|
          %tr
            %td{:style => "width: 350px"}= id =id+1
            %td{:style => "width: 350px"}= p.name
            %td
              = link_to "删除", delete_user_path(:delete_name => p[:name]), data: {confirm: "确定要删除"+p[:name]+"这个用户？"}, method: "delete"
              \&nbsp&nbsp&nbsp&nbsp#{link_to "修改密码", password_path(:change_name => p[:name])}
    .pagination{:style => "position: absolute;right: 30px; "}
      = will_paginate @user, {:previous_label => '<<', :next_label => '>>'}